
[class*='col-']{
    width: 100%;
    display: inline-block;
    padding: 5px;
    min-height: 1px;
}

[class*='col-']::after,
[class*='col-']::before{
    content: "";
    clear: both;
    display: table;
}

@media screen and (min-width:320px){
    .col-p1 {width: 8.33%;}
    .col-p2 {width: 16.66%;}
    .col-p3 {width: 25%;}
    .col-p4 {width: 33.33%;}
    .col-p5 {width: 41.66%;}
    .col-p6 {width: 50%;}
    .col-p7 {width: 58.33%;}
    .col-p8 {width: 66.66%;}
    .col-p9 {width: 75%;}
    .col-p10 {width: 83.33%;}
    .col-p11 {width: 91.66%;}
    .col-p12 {width: 100%;}
}

@media screen and (min-width:640px){
    .col-m1 {width: 8.33%;}
    .col-m2 {width: 16.66%;}
    .col-m3 {width: 25%;}
    .col-m4 {width: 33.33%;}
    .col-m5 {width: 41.66%;}
    .col-m6 {width: 50%;}
    .col-m7 {width: 58.33%;}
    .col-m8 {width: 66.66%;}
    .col-m9 {width: 75%;}
    .col-m10 {width: 83.33%;}
    .col-m11 {width: 91.66%;}
    .col-m12 {width: 100%;}
}

@media screen and (min-width:960px){
    .col-g1 {width: 8.33%;}
    .col-g2 {width: 16.66%;}
    .col-g3 {width: 25%;}
    .col-g4 {width: 33.33%;}
    .col-g5 {width: 41.66%;}
    .col-g6 {width: 50%;}
    .col-g7 {width: 58.33%;}
    .col-g8 {width: 66.66%;}
    .col-g9 {width: 75%;}
    .col-g10 {width: 83.33%;}
    .col-g11 {width: 91.66%;}
    .col-g12 {width: 100%;}
}